In [82]:
import pandas as pd
import json
import dateutil.parser
import numpy as np

In [90]:
data = pd.read_csv("data_science_exchanges_returns.csv",sep='\t')

c:\users\akshaya balamurugan\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [91]:
data.head()
# data.shape - (387055, 8)

,Country,Order nr,SKU ID,Reason Name,original_size_system_name,original_size_name,exchanged_size_system_name,exchanged_size_name
0,ph,239748222.0,EV032US96WVNPH,1._size_does_not_fit_-_too_large,International,One Size,NaN,NaN
1,ph,251645722.0,CH672SH32LPNPH,2._size_does_not_fit_-_too_small,US,7,NaN,NaN
2,ph,235646762.0,EM520AC06VDDPH,1._size_does_not_fit_-_too_large,International,One Size,NaN,NaN
3,ph,275962462.0,RU506SH93IHUMY,1._size_does_not_fit_-_too_large,EU,36,NaN,NaN
4,ph,259521762.0,MC141AC39HVKPH,2._size_does_not_fit_-_too_small,US,M,NaN,NaN

In [97]:
returns = data.dropna(subset=['Reason Name'])
returns[returns['Reason Name'].str.contains('_size_does_not_fit_')]
# returns.shape - (91242, 8)
returns['Order nr'] = returns['Order nr'].astype(np.int32)
returns.head()

c:\users\akshaya balamurugan\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Country,Order nr,SKU ID,Reason Name,original_size_system_name,original_size_name,exchanged_size_system_name,exchanged_size_name
0,ph,239748222,EV032US96WVNPH,1._size_does_not_fit_-_too_large,International,One Size,NaN,NaN
1,ph,251645722,CH672SH32LPNPH,2._size_does_not_fit_-_too_small,US,7,NaN,NaN
2,ph,235646762,EM520AC06VDDPH,1._size_does_not_fit_-_too_large,International,One Size,NaN,NaN
3,ph,275962462,RU506SH93IHUMY,1._size_does_not_fit_-_too_large,EU,36,NaN,NaN
4,ph,259521762,MC141AC39HVKPH,2._size_does_not_fit_-_too_small,US,M,NaN,NaN

In [5]:
conv_data = [json.loads(line) for line in open('data_science_test_conversions.json', encoding="utf8")]
len(conv_data)

62482

In [6]:
events_data = [json.loads(line) for line in open('size.json', encoding="utf8")]
len(events_data)

222791

In [7]:
skus_data = [json.loads(line) for line in open('data_science_test_skus.json', encoding="utf8")]
len(skus_data)

101855

In [51]:
conv_data[0]

{'_index': 'tracking_prod',
 '_type': 'conversion',
 '_id': '8a8b6404-e312-4bef-98cd-df3637d09b2f',
 '_score': 7.5778923,
 '_source': {'uid': 'unknown',
  'amount': '1394',
  'clientId': 'ubu8zhxrh8hg',
  'currency': 'PHP',
  'transaction': '257871622',
  'products': [{'quantity': 1,
    'size': 'International L',
    'price': '413.59',
    'sku': '3AE72AA36B07C6GS'},
   {'quantity': 1,
    'size': 'International M',
    'price': '465.36',
    'sku': 'B9586AA24B4E70GS'},
   {'quantity': 1,
    'size': 'International M',
    'price': '515.05',
    'sku': '079A3AAEAB518DGS'}],
  'timestamp': '2018-11-09T05:59:08.254Z'}}

In [107]:
prods=[]
timestamp=[]
transactions=[]
for j in range(len(conv_data)):
    temp=conv_data[j]
    try:
        transactions.append(int(temp['_source']['transaction']))
        prods.append(temp['_source']['products'])
        timestamp.append(temp['_source']['timestamp'])
    except:
        print(j)
        continue
        
# i = conv_data[38153]
# print(i['_source']['uid'])

18219
20534
21351
38153
38154
46146
46755
50250
53555
57947

In [112]:
conversion = pd.DataFrame(conv_data)
type(conversion)
conversion['_source'].head()

0    {'uid': 'unknown', 'amount': '1394', 'clientId...
1    {'uid': '0fc636a4-a03f-493d-8122-64f98c12e6df'...
2    {'uid': '3c3c50b0-99a2-494e-8228-b559eafccc02'...
3    {'uid': 'unknown', 'amount': '1299', 'clientId...
4    {'uid': 'unknown', 'amount': '2091.56', 'clien...
Name: _source, dtype: object

In [106]:
print(len(prods))
print(len(timestamp))
print(len(transactions))
# dateutil.parser.parse(timestamp[0])

62472
62472
62476

In [67]:
import csv
resultFyle = open("output.csv",'w')

# Write data to file
for r in transactions:
    resultFyle.write(r + "\n")
resultFyle.close()

In [110]:
#Returns and Transactions CSV compared
temp = returns[returns['Order nr'].isin(transactions)]
temp.shape

(6005, 8)